<div class="container">
  <div class="row p-5">
    <button class="btnb btn btn-outline-primary" routerLink="/contact/contacts"> Atras</button>

    <div class="col-12 p-3">
      <!-- Form -->
         <h3 class="text-center" > Actualizar contacto</h3>
        <div class="row mb-2 txt">
          <!-- Name -->
          <div class="col-12 mb-3">
            <div class="form-group">
              <label for="name">Nombre(s)</label>

              <input #nameInput type="text" class="form-control" id="name" placeholder="John" required name="name"
              [(ngModel)]="data[0].name"  
              (change)="update( data[0].lastname, data[0].id, 'name')">
            </div>
          </div>

          <div class="col-12 mb-3 ">
            <div class="form-group">
              <label for="surname">Apellidos</label>
              <input type="text" class="form-control" id="lastname" placeholder="Doe" required name="lastname"
                ngModel="{{data[0].lastname}}"
                (change)="update( data[0].lastname, data[0].id, 'lastname')">
            </div>
          </div>
          <div class="col-12 mb-3 ">
            <div class="form-group">
              <label for="surname">Emails:</label>
              <input *ngFor="let email of data[0].emails" type="text" class="form-control mb-2" id="E{{email.id}}" placeholder="Doe"
                required name="E{{email.id}}" [(ngModel)]="email.email"
                (change)="update( email.email, email.id, 'email')">
            </div>
          </div>
          <div class="col-12  mb-3">
            <div class="form-group">
              <label for="surname">Telefonos:</label>
              <input *ngFor="let phone of data[0].phones" type="text" class="form-control mb-2" id="P{{ phone.phone }}" placeholder="Doe"
                required name="P{{ phone.id }}"  [(ngModel)]="phone.phone" 
                (change)="update( phone.phone, phone.id, 'phone')">
            </div>
          </div>
          <div class="col-12  mb-3">
            <div class="form-group">
              <label for="surname">Direcciones;</label>
              <input *ngFor="let address of data[0].address" type="text" class="form-control mb-3" id="d{{ address.id }}" placeholder="Doe"
                required name="D{{ address.id }}" [(ngModel)]="address.address" 
                (change)="update( address.address, address.id, 'address')">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12  mb-3">
            <button type="button" class="btn  btn-outline-primary" (click)="togglePhoneField()">+ Añadir
              Teléfono</button>
          </div>
        </div>

        <div *ngIf="showPhoneField">
          <div class="row">
            <div class="col-12  ">
              <div class="form-group">
                <form #formulario="ngForm" class="" (ngSubmit)="addphonetoContact(formulario)">
                    <input type="hidden" name="contact_id" ngModel="{{data[0].id}}" id="contact_id">
                    <label for="phone">Número de Teléfono</label>
                    <input type="tel" class="form-control" id="phone" placeholder="1234567890" name="phone" ngModel>
                    <button class="btn mt-2  btn-outline-primary" type="submit">añadir</button>
                </form>
              </div>
            </div>
          </div>
        </div>


        <div class="row mt-2">
          <div class="col-12 mb-3 ">
            <button  type="button" class="btn  btn-outline-primary" (click)="toggleEmail()">+ Añadir Email</button>
          </div>
        </div>

        <div *ngIf="showEmailField">
          <div class="row">
            <div class="col-12  ">
              <div class="form-group">
                <label for="email">Correo Electrónico</label>
                <form #formulario="ngForm" class="" (ngSubmit)="addemailtoContact(formulario)">
                    <input type="hidden" name="contact_id" ngModel="{{data[0].id}}" id="contact_id">
                    <input type="email" class="form-control" id="email" placeholder="example@example.com" required
                    name="email" ngModel>
                    <button class="btn mt-2  btn-outline-primary" type="submit">añadir</button>

                </form>

              </div>
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-12  ">
            <button type="button" class="btn  btn-outline-primary" (click)="toggleAddressField()">+ Añadir
              Dirección</button>
          </div>
        </div>

        <div *ngIf="showAddressField">
          <div class="row">
            <div class="col-12  ">
              <div class="form-group">
                <label for="address">Dirección</label>
                <form #formulario="ngForm" class="" (ngSubmit)="addeaddresstoContact(formulario)">
                <input type="hidden" name="contact_id" ngModel="{{data[0].id}}" id="contact_id">
                <input type="text" class="form-control" id="address"
                  placeholder="ejemplo: Siempre viva 742 en Springfield" name="address" ngModel>
                  <button class="btn mt-2  btn-outline-primary" type="submit">añadir</button>
                </form>
              </div>
            </div>
          </div>
        </div>
     </div>
  </div>
</div>
