<div class="container p-3">
  <div class="row">
    <div class="col-4">
      <h3>Lista deContactos </h3>
    <hr>
      <button  routerLink="/contact/add" class="text-center btnb btn btn-outline-primary mb-3" routerLink="/contact/add"> Crear Nuevo Contacto +</button>

      <ul class="list-group list-group-flush mb-3 " *ngFor="let contact of data" (click)="showContactDetails(contact)">
        <li class="list-group-item p-2 puntero ">
          <div class="row">
            <div class="col-3">
              <img class=" img rounded-circle mr-3" src="https://cdn-icons-png.flaticon.com/256/11461/11461172.png" />
            </div>
            <div class="col-9">
              <div class="media-body align-self-center">
                <strong class="text-primary"> {{ contact.name }} {{ contact.lastname }}</strong>
                <div class="text-muted">Telefono:
                  {{ contact.phones[0]?.phone ? contact.phones[0].phone : 'Sin número' }}</div>
              </div>
            </div>
            <hr>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-8">
      <div *ngIf="selectedContact" class="container p-3 mt-5  " >
        <div class="row">
          <img class="image" src="https://cdn-icons-png.flaticon.com/256/11461/11461172.png" />
          <p class="text-secondary">Nombre: {{ selectedContact.name }} {{ selectedContact.lastname }}</p>
          <hr>
          <div *ngIf="selectedContact.phones.length > 0">
            <p class="text-secondary">Teléfonos:</p>
            <ul>
              <li *ngFor="let phone of selectedContact.phones" class="text-secondary">{{ phone.phone }}</li>
            </ul>
          </div>
          <hr>
          <div *ngIf="selectedContact.emails.length > 0">
            <p class="text-secondary">Emails:</p>
            <ul>
              <li *ngFor="let email of selectedContact.emails" class="text-secondary ">{{ email.email }}</li>
            </ul>
          </div>
          <div *ngIf="selectedContact.emails.length > 0">
            <p class="text-secondary">Direcciones:</p>
            <ul class="list-group">
              
              <li *ngFor="let address of selectedContact.address" class="text-secondary   ">{{ address.address }}</li>
            </ul>
          </div>
          <hr>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="row">
              <form #formulario="ngForm" class="">
                <input
                  class="form-control"
                  id="contact_id"
                  type="hidden"
                  name="contact_id"
                  [(ngModel)]="selectedContact.id">  
                <button (click)="deleteContact(formulario)" class="btn btn-danger text-center">Eliminar</button>
              </form>
              
             </div>
          </div>
        </div>
      </div>
      <div *ngIf="!selectedContact" class="container p-3">
        <div class="row">
          <h2 class="text-secondary">Ningún contacto seleccionado</h2>
        </div>
      </div>
    </div>

  </div>
</div>
