<div class="container">
  <div class="row p-5">
    <button class="btnb btn btn-outline-primary" routerLink="/contact/contacts"> &#8592;</button>

    <div class="col-12 p-3">
      <!-- Form -->
      <form #formulario="ngForm" class="" (ngSubmit)="onSubmit(formulario)">
        <div class="row mb-2 txt">
          <!-- Name -->
          <div class="col-12 ">
            <div class="form-group">
              <label for="name">Nombre(s)</label>
              <input type="text" class="form-control" id="name" placeholder="John" required name="name" ngModel>
            </div>
          </div>

          <div class="col-12  ">
            <div class="form-group">
              <label for="surname">Apellidos</label>
              <input type="text" class="form-control" id="lastname" placeholder="Doe" required name="lastname" ngModel>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12  ">
            <button type="button" class="btn  btn-outline-primary" (click)="togglePhoneField()">+ Añadir Teléfono</button>
          </div>
        </div>

        <div *ngIf="showPhoneField">
          <div class="row">
            <div class="col-12  ">
              <div class="form-group">
                <label for="phone">Número de Teléfono</label>
                <input type="tel" class="form-control" id="phone" placeholder="1234567890" name="phone" ngModel>
              </div>
            </div>
          </div>
        </div>


        <div class="row mt-2">
          <div class="col-12  ">
            <button type="button" class="btn  btn-outline-primary" (click)="toggleEmail()">+ Añadir Email</button>
          </div>
        </div>

        <div *ngIf="showEmailField">
          <div class="row">
            <div class="col-12  ">
              <div class="form-group">
                <label for="email">Correo Electrónico</label>
                <input type="email" class="form-control" id="email" placeholder="example@example.com" required
                  name="email" ngModel>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-12  ">
            <button type="button" class="btn  btn-outline-primary" (click)="toggleAddressField()">Añadir Dirección</button>
          </div>
        </div>

        <div *ngIf="showAddressField">
          <div class="row">
            <div class="col-12  ">
              <div class="form-group">
                <label for="address">Dirección</label>
                <input type="text" class="form-control" id="address"
                  placeholder="ejemplo: Siempre viva 742 en Springfield" name="address" ngModel>
              </div>
            </div>
          </div>
        </div>



        <div class="row">
          <div class="mt-3  text-center">
            <button type="submit" class="  submit btn btn-primary" >Enviar</button>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>
